* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layout {
    display: grid;
    grid-template-areas: none "header" "main" "footer";
    height: 100%;
    grid-template-rows: 60px 1fr 60px;
}

#root {
    height: 100vh;
}

header {
    grid-area: header;
    background-color: #2a5ea5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: #2a5ea5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}